.box {
  .education {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    & article {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      h3 {
        font-size: 12px;
      }

      p {
        font-size: 11px;
      }
    }
  }
}
