@import '/src/utils/mixins.scss';

.jobDescription {
  div {
    @include flex;
    gap: 1rem;
    text-transform: capitalize;

    p {
      font-size: 11px;
    }
  }

  ul {
    padding-top: 0.8rem;
    padding-left: 5px;
    list-style-type: disc;
    color: var(--color-grey-700);
    list-style-position: inside;
  }
}
