.parent {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 10px;

  & > main {
    display: grid;
    grid-template-columns: 30rem 1fr;
    height: 100dvh;
    overflow: hidden;
    margin-top: 3rem;

    @media screen and (max-width: 800px) {
      grid-template-columns: 28rem 1fr;
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      height: auto;
    }
  }
}
