button {
  border-radius: 5px;
  color: var(--white);
  padding: 1rem 2rem;
  font-weight: 500;
}

.primaryBtn {
  background-color: var(--color-pink-secondary);
}

.secondaryBtn {
  background-color: var(--color-purple-secondary);
}
