button {
  border-radius: 5px;
  color: var(--white);
  padding: 1rem 2rem;
  font-weight: 500;
}

.primaryBtn {
  background-color: var(--color-pink-secondary);
}

.secondaryBtn {
  background-color: var(--color-purple-secondary);
}

.plainBtn {
  background-color: transparent;
  color: var(--color-purple-secondary);
  border: 1px solid var(--color-purple-secondary);
  border-radius: 7px;
}

.plainPrimaryBtn {
  background-color: var(--color-purple-primary);
  color: var(--color-purple-secondary);
  border: 1px solid var(--color-purple-secondary);
  border-radius: 7px;
}
