@import '/src/utils/mixins.scss';
.bioData {
  section {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    & > div {
      @include flex;
      font-size: 12px;
      line-height: 18px;

      h4 {
        flex-basis: 20%;
      }

      p {
        flex-basis: 80%;
      }

      p:not(.email) {
        text-transform: capitalize;
      }
    }
  }
}
