@import '../../utils/mixins.scss';

.header {
  background-color: var(--white);
  box-shadow: 0px 4px 24px 0px #0000000f;
  border-radius: 10px;
  margin-bottom: 4rem;

  & .box {
    @include flex-center;
    border-bottom: 1px solid var(--color-border);
    padding: 2rem;

    & .logoContainer {
      width: 10%;

      &img {
        width: auto;
        height: 9.6rem;
      }
    }

    &.border {
      border: none;
    }

    & .btns {
      @include flex;
      gap: 1.5rem;
    }
  }

  & .navContainer {
    @include flex-center;
    padding: 2rem;

    & nav {
      & ul {
        @include flex-center;
        gap: 1.5rem;
        height: 42px;
        line-height: 40px;

        & a {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          font-weight: 400;
          font-size: 12px;
          border-bottom: 2px solid transparent;
          color: var(--color-grey-700);

          & svg {
            font-size: 1.4rem;
          }

          &.active {
            color: var(--color-pink-secondary);
            font-weight: 500;
            border-bottom: 2px solid var(--color-pink-secondary);
          }
        }
      }
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 14px;
      font-weight: 500;

      & .profile {
        padding: 0.5rem 0.8rem;
        border-radius: 5px;
      }

      & .completed {
        color: var(--color-green-secondary);
        background-color: var(--color-green-primary);
      }
      & .zero {
        color: var(--color-red-secondary);
        background-color: var(--color-red-primary);
      }
      & .incomplete {
        color: var(--color-grey-700);
        background-color: var(--color-grey-300);
      }

      & .alert {
        @include status-style(
          var(--white),
          var(--color-red-secondary),
          500,
          14px,
          0.5rem 0.8rem
        );
        cursor: pointer;
      }

      & figure {
        display: flex;
        align-items: center;
        gap: 1rem;

        & figcaption {
          color: var(--color-grey-200);
        }

        & img {
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
}
