@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex {
  display: flex;
  align-items: center;
}

// applied and interview div
@mixin status-style(
  $color-secondary,
  $color-primary,
  $font-weight,
  $font-size,
  $padding
) {
  color: $color-secondary;
  background-color: $color-primary;
  border-radius: 5px;
  font-weight: $font-weight;
  padding: $padding;
  font-size: $font-size;
}
