@import '../../utils/mixins.scss';

.sideBar {
  overflow: auto;
  padding-bottom: 2rem;

  & ul {
    display: flex;
    flex-direction: column;

    & a {
      display: flex;
      justify-content: space-between;
      padding: 2rem 1.5rem;
      border-bottom: 1px solid var(--color-border);

      & .logo {
        flex-basis: 15%;

        & img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;

          @media screen and (max-width: 500px) {
            width: 6rem;
            height: 6rem;
          }
        }

        @media screen and (max-width: 500px) {
          flex-basis: 20%;
        }
      }

      & article {
        flex-basis: 80%;
        h3 {
          font-weight: 500;
          font-size: 14px;
          color: var(--color-grey-700);
          line-height: 21px;
          text-transform: capitalize;
        }

        p {
          font-size: 10px;
          font-weight: 300;
          text-transform: uppercase;
        }

        & div {
          @include flex;
          gap: 0.6rem;
          margin-top: 2rem;

          & span {
            @include flex;
            gap: 5px;
            @include status-style(
              var(--color-pink-secondary),
              var(--color-pink-primary),
              400,
              10px,
              5px
            );

            & svg {
              font-size: 12px;
            }
          }
        }

        @media screen and (max-width: 500px) {
          flex-basis: 75%;
        }
      }

      &.active {
        background-color: var(--color-purple-primary);
      }
    }
  }

  @media screen and (max-width: 500px) {
    overflow: visible;

    &.close {
      display: none;
    }

    &.open {
      display: block;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
