@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white: #ffffff;

  --color-pink-primary: #f7d3ea;
  --color-pink-secondary: #d62196;

  --color-red-primary: #fc09091a;
  --color-red-secondary: #fc0909;

  --color-green-primary: #3aa14e1a;
  --color-green-secondary: #039544;

  --color-purple-primary: #dacfe5;
  --color-purple-secondary: #440f7c;

  --color-grey-100: #bdbdc7;
  --color-grey-200: #6e6b7b;
  --color-grey-700: #5e5873;

  --color-border: #5e587380;
  --box-shadow: 0px 4px 24px 0px #0000000f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  transition: all 300ms ease;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  outline: none;
}

*:disabled {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
  letter-spacing: 0.2px;
  color: var(--color-grey-700);
}

img {
  width: 100%;
}
